* {
        margin: 0;
        padding-top: 0px;
        padding: 0;
        border: 0;
        outline: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
    }



    .container {
        background-color: rgb(250, 250, 250);
    }

    .container-content {
        min-width: 67%;
        background-color: white;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }

    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        flex: 1;
    }

    #logo {
        color: #84a1b2;
        font-size: 40px;
        /*margin: 20px; */
        font-family: 'segoe ui';
        font-weight: 200;
        margin: 0px;
        padding: 0;
    }

.burger-nav {
    display: none;
}

    .navbar {
        display: flex;
        flex: 1;
        height: 80px;
        z-index: 3;
        width: 100%;
        line-height: 80px;
        margin-top: 20px;
    }

.nav-items {
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;

}





        .navbar ul {
            list-style-type: none;
        }

            .navbar ul li {
                display: inline-block;
            }

        .navbar a {
            color: rgba(100,100,100,0.95);
            padding: 0px 30px;
            text-decoration: none;
            text-transform: lowercase;
            font-family: "Segoe UI", Helvetica, sans-serif;
            font-weight: 300;
            letter-spacing: 4px;
            font-size: 25px;
            line-height: 16px;
        }

            .navbar a:hover {
                color: salmon;
            }

    .nav-divider {
        border: 1px solid #aeaeae;
        margin: 0 auto;
        width: 1000px;
        text-align: center;
    }


    .sticky {
        position: fixed;
        top: -20px;
        opacity: 0.95;
        margin-bottom: 60px;
        height: 80px;
        z-index: 3;
        /*background-color: #84a1b2;*/
        background-color: white;
        width: 100%;
        text-align: center;
        line-height: 80px;
        color: rgba(100,100,100,1.0);
    }

        .sticky a {
            color: rgba(100,100,100,1.0);
        }

    .main-image {
        margin-top: 10px;
    }



    .main-content {
        min-width: 50%;
        margin: 10px auto;
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
    }

    .main-content2 {
        min-width: 50%;
        margin: 10px auto;
        padding: 0px 5%;
        display: flex;
        flex-direction: column;
    }

.doula-bulletpoints {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 30px;
    text-align: left;
    color: #828282;
    margin-bottom: 40px;
}

    .doula-bulletpoints ul {
        //list-style-type: none;
    }

    .doula-bulletpoints h3 {
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-weight: 700;
        font-size: 30px;
        color: #84a2b1;
        text-align: left;
    }

    .stories {
        display: flex;
        justify-content: space-around;
    }

    .story img {
        width: 300px;
        height: 300px;
        margin-top: 10px;
    }

    .consultation-main {
        background-color: #FFAAAA;
        display: flex;
        justify-content: center;
        height: 200px;
        width: 100%;
    }

.consultation-text {
    display: flex;
    align-items: center;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-weight: 200;
    font-size: 40px;
    color: white;
    margin-top: 30px;
    margin-bottom: 40px;
    text-align: center;
}

    .consultation-button {
        text-align: center;
        margin-bottom: 10px;
    }

    #consultation {
        height: 40px;
        width: 200px;
        background-color: #eee;
        border-radius: 2px;
        color: #000;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 6px;
        opacity: 1.0;
    }

        #consultation:hover {
            opacity: 0.75;
            box-shadow: 0 1px 1px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
            transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
        }

    .quote {
        margin: 80px 0 20px 0;
        font-family: 'Open Sans';
        font-size: 22px;
        letter-spacing: 5px;
        font-style: italic;
        color: #84a2b1;
    }

    .intro-main {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-wrap: wrap;
    }

    .intro-img {
        flex: 1;
    }

    .intro-img img {
        width: 500px;
        margin-left: 10px;
    }

.doula-definition {
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: left;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 30px;
    color: #828282;
}

        .doula-definition h1 {
            font-size: 40px;
            color: #FFAAAA;
        }

        .emphasis {
            text-transform: ;
        }

.intro-content {
    flex: 2;
    min-width: 600px;
    text-align: justify;
    margin: 40px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 30px;
    margin-top: 0px;
    margin-bottom: 50px;
    color: #828282;
}

        .intro-content h3 {
            text-align: left;
            color: #84a2b1;
        }

    .services-main {
        margin: 80px 0px;
       // background: #fcfcf8 url(images/bg.jpg) bottom center repeat-x fixed;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        min-height: 400px;
    }

.services-title {
    font-size: 48px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    color: #84a2b1;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 45px 0px;
}

    .service-content h3 {
        color: #84a2b1;
        font-size: 30px;
    }

.service-content {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 30px;
    color: #828282;
    flex: 1;
}

.faqs {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 160px;
    margin-top: 80px;
}

.faqs-title {
    font-size: 48px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    color: #84a2b1;
    text-transform: uppercase;
    letter-spacing: 7px;
    margin: 45px 0px;
    text-align: left;
}

    .faqs h3 {
        color: #84a2b1;
        font-size: 50px;
    }

    .faqs h4 {
        color: #ffaaaa;
        font-size: 50px;
    }

.faqs li {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 30px;
    color: #828282;
}

    .faqs h3, h4, p {
        display: inline;
    }

.faqs p {
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 30px;
    color: #828282;
}

.faq {
    margin: 60px 0px;
}

.faq-prompt{
    text-align: center;
}

    .faq-prompt p {
        font-size: 60px;
        color: #ffaaaa;
    }

    .info-services {
        width: 100%;
        display: flex;
        text-align: center;
    }

    .service-content {
        padding: 0px 20px;
    }

    .simple-ss {
        width: 1000px;
        height: 250px;
        background-color: red;
        margin: auto;
        background-image: url("https://imgur.com/download/OtK7XDW");
        background-position: 0;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .testimonials {
        margin: 0px auto;
        margin-top: 30px;
    }

    .contact-container {
        width: 100%;
        background-color: #84a2b1;
        min-height: 500px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .contact-content {
        display: flex;
        width: 1400px;
        height: 400px;
        margin: 0 auto;
        justify-content: space-between;
    }

    .contact-map {
        margin-left: 10px;
        flex: 2;
    }

    .contact-info {
        flex: 3;
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 40px;
        color: white;
        font-size: 26px;
        margin-right: 20px;
    }

.contact-info-specific {
    font-size: 40px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-weight: 200;
    flex: 2;
    line-height: 80px;
    margin-top: 40px;
}

    .social {
        display: flex;
        width: 100%;
        max-width: 500px;
        justify-content: space-around;
        margin: 10px auto;
        letter-spacing: 2px;
        flex: 1;
    }

.contact-info h2 {
    font-size: 60px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    padding-bottom: 10px;
    color: #111;
}

    .fa {
        color: white;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: 4px solid #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
        background-color: #444;
        transition: .25s;
    }

    .icon-background {
        color: #333;
    }

    .fa:hover {
        background-color: #ffaaaa;
    }

    .footer {
        height: 80px;
        display: flex;
        align-items: center;
    }

.footer-info {
    width: 1000px;
    line-height: 60px;
    margin: 0 auto;
    text-transform: uppercase;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 12px;
    color: #888;
    letter-spacing: 2px;
}

.testimonials {
    display: flex;
    height: 150px;
    font-family: "Segoe UI", Helvetica, sans-serif;
    font-size: 24px;
    font-weight: 200;
}

.form-hide{
    display: none;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.email-form {
    background-color: rgba(255,170,170,0.9);
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    width: 70%; /* Full width */
    height: 40%; /* Full height */
    top: 25%;
    left: 15%;
    text-align: center;
    overflow: auto; /* Enable scroll if needed */
}

.form-entry {
    width: 80%;
    border: none;
    border-bottom: white solid 1px;
    padding: 15px 20px;
    background-color: transparent;
    color: white;
    font-size: 24px;
}

::placeholder {
    color: rgba(255, 255, 255, 1.0)
}

.form-comment {
    height: 200px;
    border: 1px solid white;
    font-family: 'Segoe UI', helvetica, sans-serif;
    overflow: hidden;
}

.form-button {
    background: none;
    border: 1px solid white;
    width: 80%;
    padding: 0px 20px;
    height: 40px;
    margin-bottom: 10px;
    color: white;
    font-size: 30px;
    border-radius: 10px;
    cursor: pointer;
}

    .form-button:hover {
        background-color: white;
        color: grey;
    }


@media screen and (max-width: 1650px) {

    .services-main {
        margin: 80px 0px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        min-height: 400px;
    }

    .info-services {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
    }


    .services-title {
        font-size: 48px;
        font-family: 'Open Sans';
        color: #84a2b1;
        text-transform: uppercase;
        letter-spacing: 7px;
        margin: 0px auto 45px auto;
    }

    .service-content h3 {
        color: #84a2b1;
        font-size: 30px;
        text-align: center;
        margin: 40px 0px 20px 0px;
    }

    .service-content {
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-size: 30px;
        color: #828282;
    }
}
    /* mobiles */
@media screen and (max-width: 890px) {
    * {
        margin: 0px 2px;
        padding-top: 0px;
        padding: 0px;
        border: 0;
        outline: 0;
        vertical-align: baseline;
        background: transparent;
        box-sizing: border-box;
        max-width: 100%;
    }

    p, li {
        font-size: 24px;
    }


    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .header-logo {
        flex: 1;
        text-align: center;
    }

    #logo {
        color: #84a1b2;
        font-size: 40px;
        /*margin: 20px; */
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-weight: 200;
        margin: 0;
        padding: 0 20px;
        width: 80%;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        flex: 1;
        height: 80px;
        z-index: 3;
        width: 100%;
        line-height: 80px;
        margin-top: 20px;
        align-items: center;
    }

        .navbar a {
            color: rgba(100,100,100,0.95);
            display: block;
            padding: 0px 30px;
            text-decoration: none;
            text-transform: lowercase;
            font-family: "Segoe UI", Helvetica, sans-serif;
            font-weight: 300;
            letter-spacing: 4px;
            font-size: 25px;
            line-height: 16px;
        }


        .navbar ul {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

    .burger-nav {
        margin: 0;
        padding: 0;
        height: 80px;
        cursor: pointer;
    }

    #burger {
        font-size: 48px;
    color: gray;
    transition: .25s;
    border-radius: 0px;
    margin: auto;
    text-align: center;
    border: none;
    background: none;
    box-shadow: none;
    }


    .sticky {
        position: fixed;
        top: -20px;
        opacity: 0.95;
        height: 80px;
        z-index: 3;
        /*background-color: #84a1b2;*/
        background-color: white;
        width: 100%;
        text-align: center;
        color: rgba(100,100,100,1.0);
        display: flex;
        flex-direction: column;
        flex: 1;
        margin-top: 20px;
        align-items: center;
    }

        .sticky a {
            color: rgba(100,100,100,1.0);
        }

    #first-navMargin {
        margin-top: 80px;
    }

    .nav-items ul {
        overflow: hidden;
        background: #84a1b2;
        height: 0;
        width: 100%;
    }

        .nav-items ul.open {
            height: 100%;
            width: 1000px;

        }

        .nav-items ul li {
            float: none;
            text-align: center;
            width: 100%;
            margin: 0;
            background-color: #84a1b2 ;
        }

            .nav-items ul li a {
                padding: 10px 40px;
                border-bottom: white solid 1px;
                margin: 0;
                color: white;
            }

            .nav-items ul li a:hover{
                color: #84a2b1;
                background-color: #eee;

            }




    .main-content {
    }

    .doula-definition {
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: left;
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-size: 30px;
        color: #828282;
    }

        .doula-definition h1 {
            font-size: 30px;
            color: #FFAAAA;
            text-align: left;
        }

    .doula-bulletpoints {
    }

    .intro-main {
        margin-top: 50px;
        margin-bottom: 50px;
        display: flex;
        flex-direction: column;
    }

    .intro-img {
        flex: 1;

    }

        .intro-img img {
            max-width: 100%;
            margin: 0;
        }

    .intro-content {
        margin-top: 50px;
        margin-left: 0;
        padding: 0;
        min-width: 200px;
        width: 100%;
        text-align: left;
    }

        .intro-content h3 {
            margin: 0px;
            padding: 0px;
        }

    .consultation-main {
        background-color: #FFAAAA;
        display: flex;
        justify-content: center;
        height: 200px;
        width: 100%;
    }

    .consultation-text {
        display: flex;
        align-items: center;
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-weight: 200;
        font-size: 40px;
        color: white;
        margin-top: 30px;
        margin-bottom: 40px;
        text-align: center;
    }

    .consultation-button {
        text-align: center;
        margin-bottom: 10px;
    }

    #consultation {
        height: 40px;
        width: 90%;
        background-color: #eee;
        border-radius: 2px;
        color: #000;
        text-transform: uppercase;
        font-size: 16px;
        letter-spacing: 6px;
        opacity: 1.0;
    }

        #consultation:hover {
            background-color: #ff5d5d;
            transition: box-shadow 50ms cubic-bezier(0.4, 0.0, 0.2, 1);
        }


        .services-title {
            font-size: 40px;
            text-align: center;
        }

        .faqs-title {
            font-size: 40px;
            text-align: center;
        }

        .faqs p{
            font-size: 24px;
        }

        .faqs h3, .faqs h4{
            font-size: 40px;
        }

        .faqs li{
            font-size: 24px;
        }

    .faq-prompt p {
        font-size: 40px;
    }
    .contact-container {
        width: 100%;
        background-color: #84a2b1;
        min-height: 500px;
        display: flex;
        align-items: center;
        margin: 0 auto;
    }

    .contact-content {
        display: flex;
        flex-direction: column;
        width: 1400px;
        height: 800px;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .contact-map {
        flex: 2;
    }

    .contact-info {
        flex: 1;
        display: flex;
        flex-direction: column;
        text-align: center;
        line-height: 40px;
        color: white;
        font-size: 26px;
        margin-right: 20px;
    }

    .contact-info h2 {
        margin-top: 10px;

    }

    .contact-info-specific {
        font-size: 40px;
        font-family: "Segoe UI", Helvetica, sans-serif;
        font-weight: 200;
        flex: 1;
        line-height: 40px;
        margin-top: 10px;
        margin-bottom: 0;
    }

    .social {
        display: flex;
        width: 100%;
        max-width: 500px;
        justify-content: space-around;
        margin: 10px auto 40px;
        letter-spacing: 2px;
        flex: 1;
    }

    .contact-info h2 {
        font-size: 40px;
        font-family: 'Segoe UI';
        font-weight: 100;
        text-transform: uppercase;
        color: #111;
        padding: 0;
        margin-top: 40px;
    }

    .contact-map{

    }

    .fa {
        color: white;
        border-radius: 100%;
        width: 100px;
        height: 100px;
        border: 4px solid #fff;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.46);
        background-color: #444;
        transition: .25s;
        font-size: 50px;
    }

    .icon-background {
        color: #333;
    }

    .fa:hover {
        background-color: #ffaaaa;
    }

    .footer {
        height: 80px;
        display: flex;
        align-items: center;
        font-size: 16px;
    }

    .footer-info {
        width: 1000px;
        line-height: 24px;
        margin: 0 auto;
        text-transform: uppercase;
        font-family: "Segoe UI", Helvetica, sans-serif;
        color: #888;
        letter-spacing: 2px;
    }
    .footer-text {
        font-size: 12px;
    }
}


